<a href="https://colab.research.google.com/github/nagilla748/data-story-telling/blob/main/data_spliting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Splitting Data into Train sets and test sets

1. 70:30 or 80:20 divide the dataset 
2. Random (cross validation or K-fold validation)

In [1]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [2]:
diabets = datasets.load_diabetes()
diabets.data[0]

array([ 0.03807591,  0.05068012,  0.06169621,  0.02187235, -0.0442235 ,
       -0.03482076, -0.04340085, -0.00259226,  0.01990842, -0.01764613])

In [3]:
columns = ['age','sex', 'bmi', 'map', 'tc', 'ldl', 'hdl', 'tch', 'ltg', 'glu']
df = pd.DataFrame(diabets.data, columns=columns)

In [4]:
y = diabets.target

In [5]:
df.head()

        age       sex       bmi  ...       tch       ltg       glu
0  0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1 -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2  0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3 -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4  0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641

[5 rows x 10 columns]

In [9]:
# split the data into x, y variables i.e., train and test
# train_test_split(x, y, test_size=0.2 ) --> test_size, train_size is either optional
# x is input i.e our dataframe 
# y is output
# X_train is used to feed with data as much as possible 
# x_test is used to predict the diabetes of the patient 
X_train, x_test, Y_train, y_test = train_test_split(df, y, test_size=0.3, random_state=2)

In [10]:
print(X_train.shape, Y_train.shape)

(309, 10) (309,)

In [11]:
x_test.shape

(133, 10)