<a href="https://colab.research.google.com/github/nagilla748/data-story-telling/blob/main/data_story_telling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Story telling

## Ingest

In [4]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/nagilla748/data-story-telling/main/nba_2017_players_with_salary_wiki_twitter.csv")

df.head()

   0  1 Russell Westbrook  PG  28  ...  46   26.5   4279.0  2130.5   559.0\
0  1  2      James Harden  PG  27  ...  54  26.50   3279.0   969.0   321.5\
1  2  4     Anthony Davis   C  23  ...  31  22.12     82.5   368.0   104.0\
2  3  6  DeMarcus Cousins   C  26  ...  30  16.96   1625.5   102.0    91.5\
3  4  7    Damian Lillard  PG  26  ...  38  24.33   1830.5   186.5    43.0\
4  5  8      LeBron James  SF  32  ...  51  30.96  14704.0  5533.5  1501.5\

[5 rows x 42 columns]

## EDA

In [5]:
df.describe()

                0           1  ...        4279.0        2130.5
count  238.000000  238.000000  ...    238.000000    235.000000
mean   119.500000  196.218487  ...    739.787815    229.410638
std     68.848868  133.153074  ...   1688.046905   1019.886447
min      1.000000    2.000000  ...      2.000000      0.000000
25%     60.250000   78.250000  ...    146.250000      4.000000
50%    119.500000  173.500000  ...    319.750000     22.000000
75%    178.750000  306.750000  ...    629.750000     79.000000
max    238.000000  475.000000  ...  17570.500000  12278.000000

[8 rows x 38 columns]

## Conclusion